:root {
    --bg-color-main: #F7F9FB;
    --bg-color-secondary: #E0F7FA;
    --bg-color-story: #0288D1;
    --border-color: #0277BD;
    --text-primary: #0D47A1;
    --text-secondary: #1976D2;
    --accent-color: skyblue;
    --header-background: #1976D2;
    --header-text-color: #FFFFFF;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-main);
    color: var(--text-primary);
    line-height: 1.6;
    font-size: 18px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    background-color: var(--header-background);
    color: var(--header-text-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--border-color);
}

audio {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
}

 

.nav-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    background-color: var(--header-background);
}

.nav-container nav {
    margin: 0;
}

.nav-container nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-container nav ul li {
    margin-left: 20px;
    position: relative;
}

.nav-container nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: var(--header-text-color);
    transition: color 0.3s ease;
}

.nav-container nav ul li a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

.nav-container nav ul li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.nav-container nav ul li:hover::before {
    visibility: visible;
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.title-container h1 {
    margin: 0;
    font-family: cursive;
    font-size: 75px;
}

.hidden {
    display: none;
}

.translation-toggle {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--accent-color);
    color: var(--header-text-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.translation-toggle:hover {
    background-color: var(--border-color);
    color: white;
}

.translation-toggle.active {
    background-color: var(--border-color);
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#intro {
    background-color: var(--bg-color-secondary);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#story-container {
    background-color: var(--bg-color-story);
    color: var(--header-text-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-top: 20px;
    line-height: 1.8;
}

#story-title {
    text-align: center;
    color: var(--header-text-color);
}

#button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--border-color);
}

.mic-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

div p {
    font-size: 1.2em;
    line-height: 1;
    color: var(--text-primary);
    margin: 20px 0;
    padding: 20px;
    background-color: var(--bg-color-secondary);
    border: 1px solid var(--border-color);
    border-radius: 8px;
}


aside {
    background-color: var(--bg-color-secondary);
    padding: 15px;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    border-left: 5px solid var(--accent-color);
}

aside h3 {
    margin-top: 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--header-background);
    color: var(--header-text-color);
}

select, input, textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--border-color);
    border-radius: 5px;
    background-color: var(--bg-color-main);
    color: var(--text-primary);
    font-size: 16px;
    margin-bottom: 10px;
}

select {
    appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'24\' height=\'24\' viewBox=\'0 0 24 24\' fill=\'none\' stroke=\'%23000\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-linejoin=\'round\' class=\'feather feather-chevron-down\'%3E%3Cpolyline points=\'6 9 12 15 18 9\'%3E%3C/polyline%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 10px top 50%;
    background-size: 12px 12px;
}

select:focus, input:focus, textarea:focus {
    outline: none;
    border-color: var(--accent-color);
}

/* Tooltip styles */
.translation-tooltip {
    position: absolute;
    background-color: var(--bg-color-secondary);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mic-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}

/* Popup styles */
.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: white;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    animation: fadeIn 0.3s;
}

.popup-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.us, .fr, .de, .es, .cn, .ar {
    display: inline-block;
    height: 50px;
    width: 62px;
    background-size: cover;
    vertical-align: middle;
    margin: 5px;
}

.us { background-image: url('https://lh3.googleusercontent.com/-9BEUs3L9gVE/VhE40dddysI/AAAAAAAAkm0/YIls2k0h79w/s1600/united-states-flag-animation.gif'); }
.fr { background-image: url('https://lh3.googleusercontent.com/-Ym4VD8myqUM/VhEyjRvvWOI/AAAAAAAAjaw/zTPj6-jD9gw/s1600/france-flag-animation.gif'); }
.de { background-image: url('https://lh3.googleusercontent.com/-oPzOMIOg4mw/VhEyxoushSI/AAAAAAAAjdw/rxNagrCV45k/s1600/germany-flag-animation.gif'); }
.es { background-image: url('https://lh3.googleusercontent.com/-W24Nmtyp4sY/VhE3ut8oUdI/AAAAAAAAkZU/04Vp7Z0AEyE/s1600/spain-flag-animation.gifg'); }
.cn { background-image: url('https://lh3.googleusercontent.com/-zFu9YOux_0o/VhExb8_8E8I/AAAAAAAAjLQ/Us7zTFAku-Q/s1600/china-flag-animation.gif'); }
.ar { background-image: url('https://lh3.googleusercontent.com/-0TIKrIkN5gY/VhE3K3hn3FI/AAAAAAAAkSU/31JBLnPNr_E/s1600/saudi-arabia-flag-animation.gif'); }


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    header, nav ul, main, aside {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }

    main {
        flex-direction: column;
    }

    #story-container, aside {
        max-width: 100%;
    }
}
